
.inspect {
  border: thin solid red;
}

.item-icon {
  display: inline-block;
  width: 1.5em;
}

.Sidebar {
  min-width: 20em;
}

.Landing {
  max-width: 40em;
  margin: auto;
  font-size: larger;
}

.Sidebar ul li {
  border-radius: 10px;
}

main {
  min-height: 100vh;
}

main .pane-heading {
  min-height: 4.5em;
  font-weight: bold;
}

main .pane-heading h4 {
  margin-left: 0.75rem;
  padding-top: 0.75rem;
  font-size: 1.5em;
}
