/* Shared custom styles */

body {
  font-size: larger;
}

.inspect {
  border: thin solid red;
}

.inspect .inspect {
  border: thin solid blue;
}

.inspect .inspect .inspect {
  border: thin solid green;
}

.invisible {
  opacity: 0;
}

/* ===================*/

.App {
  min-height: 100vh;
}

.Landing .container {
  max-width: 40em;
  margin: auto;
  font-size: larger;
}

.Landing {
  position: relative;
  z-index: 1;
  border: thin solid gray;
  min-height: 100vh;
}

.Landing::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .3;
  z-index: -1;
}

.Landing .alert {
  opacity: 0.9;
}

.item-icon {
  display: inline-block;
  width: 1.5em;
}

.Auth:not(:hover) {
  opacity:0.7;
}

main {
  min-height: 100vh;
}

/* Navbar */

ul.breadcrumb {
    border: none;
}

.ActionBar button {
  margin-left: 1em;
  margin-top: 0.5rem;
}

main .pane-heading {
  min-height: 4.5em;
  font-weight: bold;
  border-bottom: thin solid var(--light);
}

main .pane-heading h4 {
  margin-left: 0.85rem;
  padding-top: 0.85rem;
  font-size: 1em;
  font-weight: 700;
  color: gray;
}

/* pane area */

main .FavoriteMarker {
  color: var(--orange);
  opacity: 0.9;
}

main table .FavoriteMarker {
  margin-left: 0.5em;
}

main table {
  table-layout: fixed
}

main table td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

table.table a:not([href]) {
  /* compensate for some bootstrap themes showing these as links */
  text-decoration: none;
}

.ActionSelector .dropdown-menu {
  min-height: 4em;
}

/* Fork banner */

.github-fork-ribbon::before {
  background-color: none;
}

.github-fork-ribbon.dark:before {
   background-color: var(--dark);
}

.github-fork-ribbon {
  opacity: 0.4;
  transform: scale(0.5);
  transform-origin: bottom left;
  position: fixed;
}
