$web-font-path: ""; // eliminate Roboto font ## TODO: install locally?
@import "~bootswatch/dist/cyborg/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/cyborg/bootswatch";

/* Sidebar */

.Sidebar {
  min-width: 15em;
}

.Sidebar .list-group {
  margin-right: 1em;
}

.Sidebar ul .list-group-item {
  border-color: transparent;
  border-top-right-radius: 1.5em;
  border-bottom-right-radius: 1.5em;
  line-height: 2em;
  margin-bottom: 2px;
}
