// For simple drawer */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    height: 100vh;
}

.Sidebar {
  position: sticky;
  top: 0;
  min-height: 100vh;
  padding-left: 0em;
  padding-top: 4em;
  transition: all 0.3s;
}

#sidebarContent {
    min-height: 100%;
    overflow-y: scroll;
    margin-bottom: 2em;
}

/* Eliminate scrollbar */

.Sidebar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.Sidebar::-webkit-scrollbar {
    width: 0 !important;
}

/* ------ */

.Sidebar .sidebar-header {
    display: none;
    font-size: 0.875rem;
    margin-left: 40px;
}

.Sidebar li.separator {
  border-bottom: thin solid #47748b;
}

.Sidebar ul.components {
    padding: 0;
    padding-bottom: 20px;
    /* border-bottom: 1px solid rgb(0,0,0,0.125); */
}

.Sidebar ul p {
    padding: 10px;
}

.Sidebar ul li a {
  line-height: 3em;
  padding-left: 2em;
  font-size: 1.0em;
  display: block;
  text-decoration: none;
  margin-right: 1em;
  border-top-right-radius: 1.5em;
  border-bottom-right-radius: 1.5em;
}

.Sidebar ul .active {
  /* background: #e0e0e0; */
}

.Sidebar ul .active > a {
  /* background: #e0e0e0; */
}

.Sidebar a[aria-expanded="true"] {
    /* background: #f0f0f0;*/
}

.Sidebar .dropdown-toggle[aria-expanded="true"]:after {
  transform: rotate(180deg);
}

.Sidebar .dropdown-toggle:after {
  transition: 0.5s;
}

.Sidebar li {
  min-width: 12em;
}

.Sidebar li a[href="/"] {
    pointer-events: none;
    /* color: LightGray; */
}

.Sidebar ul ul a {
    font-size: 1em !important;
    padding-left: 10px !important;
    /*background: #f0f0f0;*/
}

.Sidebar ul li svg {
  /* color: #A56DFF; */
  min-width: 2em;
  text-align: center;
}

.Sidebar ul li .badge {
  /* font-size: 1.0em;*/
  opacity: 0.8;
}

.Sidebar ul li a[href]:hover {
    /* color: white; */
    /* background: gray; */
}

.Sidebar ul li a:not([href]) {
  /* color: #aaa; */
}

/* Extension item */

.Sidebar a:not([href]) {
  display: flex !important;
  align-items: center;
}

.Sidebar .form-group .item-title {
  width: 100%;
  /* color: gray; */
}

.Sidebar a:not([href]) i {
  flex-grow: 0;
  align-items: center;
}

.Sidebar a:not([href]) .form-group {
  flex-grow: 1;
  min-height: 1em;
  margin: 0;
}

.Sidebar a:not([href]) input {
  width: calc(100% + 6px);
  padding: 0;
  height: 1.5em;
  display: none;
  margin-left: -3px;
  margin-right: -6px;
  padding-left:2px;
}

.Sidebar a:not([href]):hover input,
.Sidebar a:not([href]) input:focus {
  display: block;
}

.Sidebar input::placeholder {
  /* color: #BBB; */
}

.Sidebar a:not([href]):hover .item-title,
.Sidebar a:not([href]) input:focus + .item-title {
  height: 0;
  color: red;
  display: block;
  line-height:0;
  overflow: hidden;
}


/* Sidebar for mobile (small )*/

@media (max-width: 576px) {
  .Sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding-top: calc(55px + 4em);
    margin-right: 1em;
    min-width: 10em;
    height: 100vh;
    z-index: 1020;
    box-shadow: rgba(0, 0, 0, 0.075) 0px 0.125rem 0.25rem;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0.125rem 0.25rem;
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE 10+ */
  }

  .Sidebar.show, #sidebar.collapsing {

  }

  .Sidebar.collapsing {
    opacity: 0.8;
    transition: all 0.1s;
  }
}
